.cover__text-block {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  z-index: 5;
  justify-content: center;
}

@media screen and (max-width: 695px) {
  .cover__text-block {
    max-width: 288px;
  }
}
