.intro__title-container {
  display: flex;
  justify-content: start;
  margin: 92px 0 0 148px;
}

@media screen and (max-width: 1155px) {
  .intro__title-container {
    margin: 92px 0 0 48px;
  }
}

@media screen and (max-width: 770px) {
  .intro__title-container {
    margin: 88px 0 0 24px;
  }
}
