.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  display: flex;
  justify-content: start;
  margin: 92px 0 0 148px;
}

@media screen and (max-width: 1155px) {
  .intro__title {
    margin: 92px 0 0 48px;
  }
}

@media screen and (max-width: 770px) {
  .intro__title {
    margin: 88px 0 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    max-width: 290px;
    margin: 64px 0 0 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
